In [1]:
import pandas as pd
import plotly.express as px
import numpy as np

In [2]:
food_df = pd.read_csv('../data/food_access_data.csv')
rural_county = pd.read_csv('../data/rural_county.csv', header = 1)
tn_df = pd.read_csv('../data/tn_county_data.csv', header = 1)
state_county = pd.read_csv('../data/StateAndCountyData.csv')
national_df = pd.read_csv('../data/national_data.csv', header = 1)
usa_dataset = pd.read_csv('../data/usa_dataset.csv', header = 1)

##### revisit state_county dataframe

In [3]:
rural_county.head()

,FIPS,State,County,# deaths due to COVID-19 during 2020,COVID-19 death rate,Life Expectancy,95% CI - Low,95% CI - High,Life Expectancy (AIAN),Life Expectancy (AIAN) 95% CI - Low,...,% Hispanic,# Non-Hispanic white,% Non-Hispanic white,# Not Proficient in English,% Not Proficient in English,95% CI - Low.21,95% CI - High.21,% female,# rural residents,% rural
0,47000,Tennessee,NaN,6838.0,80.0,75.3,75.3,75.4,131.7,105.3,...,5.9,5050700,73.3,94290,1,1,2,51.2,2132860,33.6
1,47001,Tennessee,Anderson,69.0,57.0,74.7,74.0,75.3,NaN,NaN,...,3.4,68879,88.8,594,1,0,1,51.3,26041,34.7
2,47003,Tennessee,Bedford,68.0,120.0,74.1,73.3,74.9,NaN,NaN,...,13.3,38129,76.0,1209,3,2,4,50.6,25053,55.6
3,47005,Tennessee,Benton,34.0,117.0,72.0,70.6,73.5,NaN,NaN,...,2.6,14886,92.3,0,0,0,1,50.8,12937,78.5
4,47007,Tennessee,Bledsoe,NaN,NaN,77.4,75.9,78.9,NaN,NaN,...,3.0,13299,87.4,266,2,0,3,40.5,12876,100.0

In [4]:
food_df.isna().sum()

CensusTract      0
State            0
County           0
Urban            0
Pop2010          0
                ..
TractAIAN        4
TractOMultir     4
TractHispanic    4
TractHUNV        4
TractSNAP        4
Length: 147, dtype: int64

In [5]:
food_df.shape

(72531, 147)

In [6]:
# only look at tennessee's food environment
tn_fa = food_df.loc[food_df['State'] == 'Tennessee']
tn_fa = tn_fa.reset_index(drop=True)
tn_fa

,CensusTract,State,County,Urban,Pop2010,OHU2010,GroupQuartersFlag,NUMGQTRS,PCTGQTRS,LILATracts_1And10,...,TractSeniors,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP
0,47001020100,Tennessee,Anderson County,1,3111,1546,0,6.0,0.19,0,...,384.0,1969.0,853.0,130.0,2.0,9.0,148.0,145.0,206.0,438.0
1,47001020201,Tennessee,Anderson County,1,3670,1535,0,103.0,2.81,0,...,658.0,3158.0,144.0,256.0,0.0,6.0,106.0,84.0,49.0,31.0
2,47001020202,Tennessee,Anderson County,1,4507,2025,0,230.0,5.10,0,...,1364.0,3988.0,194.0,128.0,0.0,18.0,179.0,214.0,174.0,208.0
3,47001020300,Tennessee,Anderson County,1,3822,1656,0,0.0,0.00,0,...,640.0,3290.0,278.0,20.0,3.0,18.0,213.0,179.0,53.0,109.0
4,47001020400,Tennessee,Anderson County,1,4508,2013,0,106.0,2.35,1,...,761.0,3855.0,264.0,34.0,3.0,20.0,332.0,277.0,86.0,406.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1484,47189030800,Tennessee,Wilson County,0,5787,2189,0,16.0,0.28,0,...,790.0,5389.0,208.0,21.0,2.0,23.0,144.0,141.0,17.0,397.0
1485,47189030901,Tennessee,Wilson County,0,9572,3642,0,0.0,0.00,0,...,771.0,8433.0,499.0,319.0,1.0,46.0,274.0,263.0,135.0,308.0
1486,47189030903,Tennessee,Wilson County,0,6081,2321,0,0.0,0.00,0,...,908.0,5596.0,340.0,38.0,1.0,24.0,82.0,70.0,12.0,204.0
1487,47189030904,Tennessee,Wilson County,0,3523,1347,0,0.0,0.00,0,...,445.0,3350.0,89.0,7.0,1.0,13.0,63.0,52.0,87.0,39.0
1488,47189031000,Tennessee,Wilson County,0,5662,2172,0,0.0,0.00,0,...,749.0,5356.0,191.0,6.0,2.0,16.0,91.0,91.0,28.0,215.0

In [7]:
# subset tn food access
tn_fa = tn_fa[['CensusTract','State','County','Urban','Pop2010','MedianFamilyIncome','PovertyRate','LA1and10','LATracts1','LATracts10','LATracts20',
         'LAPOP1_10','lapop1','lapop10','lapop20','TractLOWI','TractHUNV']]

In [8]:
tn_fa = tn_fa.rename(columns = {'LATracts1':'low_access_one','LATracts10':'low_access_10','LATracts20':'low_access_20',
                                'LAPOP1_10':'la_numbers','TractLOWI':'low_income_pop', 'TractHUNV':'no_vehicle'})

In [9]:
#dropped "County" in County name == "Blount County" - "Blount"
tn_fa['County'] = tn_fa.County.str[:-7]

In [10]:
#sum of population 10 miles away from grocery store
low_access_10 = tn_fa.groupby('County')['lapop10'].sum().to_frame().reset_index()

In [11]:
# total population effected by a food desert
total_low_access = tn_fa.groupby('County')['la_numbers'].sum().to_frame().reset_index()

In [12]:
rural_county.sort_values('% rural', ascending = False).head(20)

,FIPS,State,County,# deaths due to COVID-19 during 2020,COVID-19 death rate,Life Expectancy,95% CI - Low,95% CI - High,Life Expectancy (AIAN),Life Expectancy (AIAN) 95% CI - Low,...,% Hispanic,# Non-Hispanic white,% Non-Hispanic white,# Not Proficient in English,% Not Proficient in English,95% CI - Low.21,95% CI - High.21,% female,# rural residents,% rural
48,47095,Tennessee,Lake,12.0,137.0,72.0,69.8,74.2,NaN,NaN,...,2.8,4643,66.4,43,1,0,2,37.2,7832,100.0
14,47027,Tennessee,Clay,19.0,128.0,73.4,71.2,75.6,NaN,NaN,...,2.4,7217,94.6,82,1,0,3,51.2,7861,100.0
34,47067,Tennessee,Hancock,NaN,NaN,71.8,69.5,74.2,NaN,NaN,...,0.7,6278,96.7,18,0,0,2,50.8,6819,100.0
88,47175,Tennessee,Van Buren,NaN,NaN,71.8,69.3,74.3,NaN,NaN,...,2.0,5657,95.1,15,0,0,2,49.5,5548,100.0
44,47087,Tennessee,Jackson,23.0,123.0,73.9,72.3,75.6,NaN,NaN,...,2.3,11254,94.9,67,1,0,2,49.7,11638,100.0
31,47061,Tennessee,Grundy,17.0,85.0,71.4,69.7,73.0,NaN,NaN,...,1.5,12842,95.2,53,0,0,1,50.2,13703,100.0
29,47057,Tennessee,Grainger,27.0,79.0,73.0,71.8,74.2,NaN,NaN,...,3.4,22135,93.9,250,1,0,2,49.7,22657,100.0
87,47173,Tennessee,Union,17.0,66.0,73.7,72.3,75.1,NaN,NaN,...,1.9,19339,95.8,14,0,0,1,50.4,19109,100.0
25,47049,Tennessee,Fentress,32.0,118.0,73.0,71.7,74.3,NaN,NaN,...,1.8,18004,95.8,21,0,0,1,50.7,17959,100.0
85,47169,Tennessee,Trousdale,13.0,125.0,74.7,73.0,76.4,NaN,NaN,...,2.9,9520,83.1,44,0,0,2,41.4,7870,100.0
20,47039,Tennessee,Decatur,22.0,104.0,74.0,72.3,75.6,NaN,NaN,...,3.5,10623,91.6,0,0,0,1,50.6,11757,100.0
41,47081,Tennessee,Hickman,34.0,113.0,72.9,71.7,74.1,NaN,NaN,...,2.7,22831,89.9,33,0,0,1,47.8,24690,100.0
61,47121,Tennessee,Meigs,17.0,102.0,71.7,69.9,73.4,NaN,NaN,...,2.4,11672,93.1,43,0,0,1,50.4,11753,100.0
91,47181,Tennessee,Wayne,19.0,77.0,75.3,73.7,76.9,NaN,NaN,...,2.3,14745,89.2,45,0,0,1,44.4,17021,100.0
68,47135,Tennessee,Perry,17.0,127.0,73.9,72.0,75.7,NaN,NaN,...,2.7,7381,91.1,0,0,0,1,49.5,7915,100.0
70,47139,Tennessee,Polk,13.0,50.0,73.7,72.4,75.1,NaN,NaN,...,2.1,15966,94.8,39,0,0,1,50.7,16825,100.0
4,47007,Tennessee,Bledsoe,NaN,NaN,77.4,75.9,78.9,NaN,NaN,...,3.0,13299,87.4,266,2,0,3,40.5,12876,100.0
81,47161,Tennessee,Stewart,20.0,99.0,74.9,73.3,76.4,NaN,NaN,...,3.5,12595,90.9,16,0,0,1,50.2,13324,100.0
42,47083,Tennessee,Houston,17.0,131.0,72.0,70.1,73.9,NaN,NaN,...,2.9,7530,90.8,0,0,0,1,50.9,8426,100.0
69,47137,Tennessee,Pickett,18.0,165.0,74.8,72.2,77.5,NaN,NaN,...,2.5,4849,95.8,0,0,0,2,50.7,5077,100.0

In [13]:
#data for number of rural residents in tn
rural_county = rural_county[['FIPS', 'State', 'County', 'Population','# rural residents', '% rural', 'Median Household Income',
             '% Insufficient Sleep', '% Enrolled in Free or Reduced Lunch', '% Less Than 18 Years of Age']]

In [14]:
rural_county

,FIPS,State,County,Population,# rural residents,% rural,Median Household Income,% Insufficient Sleep,% Enrolled in Free or Reduced Lunch,% Less Than 18 Years of Age
0,47000,Tennessee,NaN,6886834,2132860,33.6,56962,41,41.0,22.0
1,47001,Tennessee,Anderson,77558,26041,34.7,53002,42,41.0,21.1
2,47003,Tennessee,Bedford,50179,25053,55.6,58593,43,NaN,25.2
3,47005,Tennessee,Benton,16131,12937,78.5,44759,42,62.0,19.5
4,47007,Tennessee,Bledsoe,15223,12876,100.0,45780,42,NaN,14.2
...,...,...,...,...,...,...,...,...,...,...
91,47181,Tennessee,Wayne,16524,17021,100.0,42754,43,56.0,16.2
92,47183,Tennessee,Weakley,33334,23466,67.0,46979,43,57.0,19.1
93,47185,Tennessee,White,27707,20201,78.2,46475,41,48.0,21.5
94,47187,Tennessee,Williamson,245348,35512,19.4,118257,35,11.0,26.5
95,47189,Tennessee,Wilson,148130,43850,38.5,77822,40,29.0,23.2

In [15]:
tn_df.head()

,FIPS,State,County,Unreliable,Deaths,Years of Potential Life Lost Rate,95% CI - Low,95% CI - High,Z-Score,YPLL Rate (AIAN),...,% Drive Alone (Hispanic) 95% CI - Low,% Drive Alone (Hispanic) 95% CI - High,% Drive Alone (white),% Drive Alone (white) 95% CI - Low,% Drive Alone (white) 95% CI - High,# Workers who Drive Alone,% Long Commute - Drives Alone,95% CI - Low.19,95% CI - High.19,Z-Score.34
0,47000,Tennessee,NaN,NaN,115955,9913,9828,9998,NaN,4026.0,...,71.0,74.0,83.0,83.0,84.0,3103430,36,35,36,NaN
1,47001,Tennessee,Anderson,NaN,1486,10763,9903,11622,-0.06,NaN,...,45.0,77.0,88.0,88.0,89.0,31784,38,34,41,-0.23
2,47003,Tennessee,Bedford,NaN,901,10666,9652,11679,-0.11,NaN,...,54.0,69.0,82.0,78.0,85.0,22217,33,29,37,-0.67
3,47005,Tennessee,Benton,NaN,430,13905,11746,16064,1.71,NaN,...,NaN,NaN,NaN,NaN,NaN,5389,31,25,36,-0.85
4,47007,Tennessee,Bledsoe,NaN,268,8151,6441,9862,-1.53,NaN,...,NaN,NaN,NaN,NaN,NaN,5889,42,32,51,0.12

In [16]:
# subset of tn_df
tn_df = tn_df[['County', '% Adults with Obesity', '# Some College', '% Children in Poverty', '20th Percentile Income']]

In [17]:
#merged low access numbers subsets
food_desert_numbers = pd.merge(low_access_10, total_low_access, left_on = 'County', right_on = 'County', how = 'inner')

In [18]:
food_desert_numbers.head()

     County  lapop10  la_numbers
0  Anderson    111.0      8188.0
1   Bedford    829.0     10365.0
2    Benton   1162.0      2075.0
3   Bledsoe    602.0       602.0
4    Blount     66.0     37061.0

In [19]:
#merged food deserts with rural county to start aggregations for population effected
food_deserts = pd.merge(food_desert_numbers, rural_county, left_on = 'County', right_on = 'County', how = 'inner')

In [20]:
food_deserts.head()

,County,lapop10,la_numbers,FIPS,State,Population,# rural residents,% rural,Median Household Income,% Insufficient Sleep,% Enrolled in Free or Reduced Lunch,% Less Than 18 Years of Age
0,Anderson,111.0,8188.0,47001,Tennessee,77558,26041,34.7,53002,42,41.0,21.1
1,Bedford,829.0,10365.0,47003,Tennessee,50179,25053,55.6,58593,43,NaN,25.2
2,Benton,1162.0,2075.0,47005,Tennessee,16131,12937,78.5,44759,42,62.0,19.5
3,Bledsoe,602.0,602.0,47007,Tennessee,15223,12876,100.0,45780,42,NaN,14.2
4,Blount,66.0,37061.0,47009,Tennessee,134751,40140,32.6,67576,40,40.0,19.7

In [21]:
#merged all subsets to look at trends across all food deserts
trends = pd.merge(food_deserts, tn_df, left_on = 'County', right_on = 'County', how = 'inner')

In [22]:
tn_trends = trends.rename(columns = {'# rural residents': 'rural_pop', '% rural':'rural_perc', '% Insufficient Sleep': 'insufficient_sleep_perc',
                        '% Enrolled in Free or Reduced Lunch':'free_lunch_perc', '% Less Than 18 Years of Age':'under_18_perc',
                        '% Adults with Obesity':'adult_obesity_perc', '# Some College': 'some_college', '% Children in Poverty':'child_poverty_perc'})

In [23]:
#under 18 population percentage
tn_trends['under_18_pop'] = round((tn_trends['Population'] * tn_trends['under_18_perc'])/100,0)

In [24]:
#over 18 population percentage
tn_trends['adult_population'] = (tn_trends['Population']) - (tn_trends['under_18_pop'])

In [25]:
#percentage of adults with some college per tennessee county
tn_trends['pop_some_college'] = round(tn_trends['some_college'] / tn_trends['adult_population'] * 100,2)

In [26]:
tn_trends

,County,lapop10,la_numbers,FIPS,State,Population,rural_pop,rural_perc,Median Household Income,insufficient_sleep_perc,free_lunch_perc,under_18_perc,adult_obesity_perc,some_college,child_poverty_perc,20th Percentile Income,under_18_pop,adult_population,pop_some_college
0,Anderson,111.0,8188.0,47001,Tennessee,77558,26041,34.7,53002,42,41.0,21.1,35,11172,18,23052,16365.0,61193.0,18.26
1,Bedford,829.0,10365.0,47003,Tennessee,50179,25053,55.6,58593,43,NaN,25.2,40,5901,20,27812,12645.0,37534.0,15.72
2,Benton,1162.0,2075.0,47005,Tennessee,16131,12937,78.5,44759,42,62.0,19.5,37,1630,25,15360,3146.0,12985.0,12.55
3,Bledsoe,602.0,602.0,47007,Tennessee,15223,12876,100.0,45780,42,NaN,14.2,38,1360,26,17194,2162.0,13061.0,10.41
4,Blount,66.0,37061.0,47009,Tennessee,134751,40140,32.6,67576,40,40.0,19.7,37,17697,13,27203,26546.0,108205.0,16.36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,Wayne,4152.0,4152.0,47181,Tennessee,16524,17021,100.0,42754,43,56.0,16.2,40,2035,24,18602,2677.0,13847.0,14.70
91,Weakley,1018.0,6796.0,47183,Tennessee,33334,23466,67.0,46979,43,57.0,19.1,40,3803,21,18276,6367.0,26967.0,14.10
92,White,846.0,7523.0,47185,Tennessee,27707,20201,78.2,46475,41,48.0,21.5,39,3203,19,20160,5957.0,21750.0,14.73
93,Williamson,0.0,80424.0,47187,Tennessee,245348,35512,19.4,118257,35,11.0,26.5,29,47554,4,51449,65017.0,180331.0,26.37
94,Wilson,24.0,40249.0,47189,Tennessee,148130,43850,38.5,77822,40,29.0,23.2,32,26005,9,36157,34366.0,113764.0,22.86

In [27]:
#isolated 100% rural counties in tn
totally_rural = tn_trends.loc[tn_trends['rural_perc'] == 100.0].reset_index(drop=True)

In [28]:
totally_rural

,County,lapop10,la_numbers,FIPS,State,Population,rural_pop,rural_perc,Median Household Income,insufficient_sleep_perc,free_lunch_perc,under_18_perc,adult_obesity_perc,some_college,child_poverty_perc,20th Percentile Income,under_18_pop,adult_population,pop_some_college
0,Bledsoe,602.0,602.0,47007,Tennessee,15223,12876,100.0,45780,42,NaN,14.2,38,1360,26,17194,2162.0,13061.0,10.41
1,Clay,14.0,14.0,47027,Tennessee,7629,7861,100.0,37683,43,68.0,20.1,38,555,30,14247,1533.0,6096.0,9.10
2,Decatur,730.0,730.0,47039,Tennessee,11601,11757,100.0,47232,41,51.0,20.4,38,1251,24,17043,2367.0,9234.0,13.55
3,Fentress,57.0,57.0,47049,Tennessee,18787,17959,100.0,43931,42,56.0,20.4,39,1763,24,17355,3833.0,14954.0,11.79
4,Grainger,0.0,0.0,47057,Tennessee,23565,22657,100.0,45056,41,62.0,19.8,36,2252,20,19427,4666.0,18899.0,11.92
5,Grundy,952.0,952.0,47061,Tennessee,13485,13703,100.0,41133,43,NaN,21.0,38,1313,26,16951,2832.0,10653.0,12.33
6,Hancock,73.0,73.0,47067,Tennessee,6493,6819,100.0,33109,42,NaN,20.8,40,690,39,11905,1351.0,5142.0,13.42
7,Hickman,2420.0,2420.0,47081,Tennessee,25387,24690,100.0,53738,43,56.0,20.5,37,2193,20,22755,5204.0,20183.0,10.87
8,Houston,164.0,164.0,47083,Tennessee,8292,8426,100.0,47465,43,56.0,21.4,37,871,23,16459,1774.0,6518.0,13.36
9,Jackson,9.0,9.0,47087,Tennessee,11864,11638,100.0,43115,42,NaN,18.1,37,994,25,16221,2147.0,9717.0,10.23
10,Lake,15.0,15.0,47095,Tennessee,6988,7832,100.0,32163,46,NaN,14.1,42,746,40,9537,985.0,6003.0,12.43
11,Meigs,373.0,373.0,47121,Tennessee,12532,11753,100.0,49242,42,62.0,20.2,36,1178,22,19169,2531.0,10001.0,11.78
12,Perry,1944.0,1944.0,47135,Tennessee,8099,7915,100.0,46366,43,67.0,22.4,39,619,25,17365,1814.0,6285.0,9.85
13,Pickett,39.0,39.0,47137,Tennessee,5061,5077,100.0,40120,42,57.0,16.8,38,456,24,13708,850.0,4211.0,10.83
14,Polk,667.0,667.0,47139,Tennessee,16835,16825,100.0,48184,42,NaN,19.2,36,1877,20,22145,3232.0,13603.0,13.80
15,Stewart,2104.0,2104.0,47161,Tennessee,13859,13324,100.0,55022,42,54.0,20.9,36,1763,21,23726,2897.0,10962.0,16.08
16,Trousdale,0.0,0.0,47169,Tennessee,11455,7870,100.0,54970,43,NaN,18.5,37,1735,16,24720,2119.0,9336.0,18.58
17,Union,364.0,364.0,47173,Tennessee,20187,19109,100.0,45520,43,NaN,21.4,38,2046,28,20823,4320.0,15867.0,12.89
18,Van Buren,107.0,107.0,47175,Tennessee,5947,5548,100.0,45908,42,NaN,20.0,39,513,26,20188,1189.0,4758.0,10.78
19,Wayne,4152.0,4152.0,47181,Tennessee,16524,17021,100.0,42754,43,56.0,16.2,40,2035,24,18602,2677.0,13847.0,14.70

In [29]:
#defined urban counties if rural population percentage <50%
urban_trends = tn_trends.loc[tn_trends['rural_perc'] < 50.0].reset_index(drop = True)

In [30]:
urban_trends

,County,lapop10,la_numbers,FIPS,State,Population,rural_pop,rural_perc,Median Household Income,insufficient_sleep_perc,free_lunch_perc,under_18_perc,adult_obesity_perc,some_college,child_poverty_perc,20th Percentile Income,under_18_pop,adult_population,pop_some_college
0,Anderson,111.0,8188.0,47001,Tennessee,77558,26041,34.7,53002,42,41.0,21.1,35,11172,18,23052,16365.0,61193.0,18.26
1,Blount,66.0,37061.0,47009,Tennessee,134751,40140,32.6,67576,40,40.0,19.7,37,17697,13,27203,26546.0,108205.0,16.36
2,Bradley,31.0,32534.0,47011,Tennessee,109071,32630,33.0,49802,39,48.0,21.6,40,15606,17,23652,23559.0,85512.0,18.25
3,Carter,1258.0,27007.0,47019,Tennessee,56418,23524,41.0,44786,42,48.0,17.9,34,7431,21,17056,10099.0,46319.0,16.04
4,Coffee,832.0,7255.0,47031,Tennessee,57632,24967,47.3,55177,40,55.0,24.1,36,6338,20,24106,13889.0,43743.0,14.49
5,Davidson,0.0,166536.0,47037,Tennessee,694176,21382,3.4,64418,39,33.0,20.3,34,172892,17,28115,140918.0,553258.0,31.25
6,Dyer,101.0,10534.0,47045,Tennessee,36693,16432,42.9,50906,41,65.0,23.6,39,4954,22,18723,8660.0,28033.0,17.67
7,Gibson,36.0,10689.0,47053,Tennessee,49159,23706,47.7,47850,41,48.0,24.1,41,6514,19,18042,11847.0,37312.0,17.46
8,Hamblen,0.0,26681.0,47063,Tennessee,65110,13680,21.9,48047,46,66.0,23.1,38,7095,21,19167,15040.0,50070.0,14.17
9,Hamilton,0.0,147539.0,47065,Tennessee,371662,33721,10.0,61478,39,31.0,20.6,35,69144,19,24750,76562.0,295100.0,23.43
10,Haywood,2019.0,4764.0,47075,Tennessee,17002,8908,47.4,43742,46,NaN,22.0,45,1773,29,17288,3740.0,13262.0,13.37
11,Knox,0.0,177929.0,47093,Tennessee,475609,47205,10.9,57886,40,28.0,20.8,34,89152,13,24565,98927.0,376682.0,23.67
12,Loudon,0.0,6899.0,47105,Tennessee,54910,19720,40.6,70292,42,55.0,19.1,37,5471,17,28598,10488.0,44422.0,12.32
13,Madison,1310.0,32889.0,47113,Tennessee,98360,25386,25.8,47580,41,79.0,22.1,40,13541,32,18948,21738.0,76622.0,17.67
14,Maury,1720.0,20701.0,47119,Tennessee,99590,33672,41.6,65942,39,46.0,23.0,33,16120,13,27041,22906.0,76684.0,21.02
15,Montgomery,1474.0,80949.0,47125,Tennessee,214251,34022,19.7,60779,43,50.0,26.6,38,48169,15,28423,56991.0,157260.0,30.63
16,Putnam,139.0,29940.0,47141,Tennessee,80929,25295,35.0,47120,41,51.0,20.8,37,10852,23,18501,16833.0,64096.0,16.93
17,Rutherford,293.0,58774.0,47149,Tennessee,339261,44699,17.0,73980,42,38.0,24.4,38,65828,10,33832,82780.0,256481.0,25.67
18,Shelby,0.0,303858.0,47157,Tennessee,936017,25601,2.8,50870,46,17.0,24.8,38,162129,27,20368,232132.0,703885.0,23.03
19,Sullivan,5.0,48162.0,47163,Tennessee,158755,40086,25.6,48968,41,45.0,19.0,36,21688,21,21230,30163.0,128592.0,16.87
20,Sumner,0.0,54333.0,47165,Tennessee,195561,44792,27.9,72325,39,36.0,23.2,34,32375,12,32642,45370.0,150191.0,21.56
21,Unicoi,592.0,673.0,47171,Tennessee,17755,8180,44.7,45635,42,63.0,18.0,38,2287,22,16181,3196.0,14559.0,15.71
22,Washington,0.0,32192.0,47179,Tennessee,130367,32493,26.4,52088,40,46.0,18.9,34,21743,15,20473,24639.0,105728.0,20.57
23,Williamson,0.0,80424.0,47187,Tennessee,245348,35512,19.4,118257,35,11.0,26.5,29,47554,4,51449,65017.0,180331.0,26.37
24,Wilson,24.0,40249.0,47189,Tennessee,148130,43850,38.5,77822,40,29.0,23.2,32,26005,9,36157,34366.0,113764.0,22.86

In [31]:
#There isnt a clear definition of rural according to the census. rural is determined by an area not designated as urban.
#defined rural counties if rural population percentage > 50%
rural_trends = tn_trends.loc[tn_trends['rural_perc'] > 50.0].reset_index(drop = True)

In [32]:
national_df

,FIPS,State,County,Unreliable,Deaths,Years of Potential Life Lost Rate,95% CI - Low,95% CI - High,Quartile,YPLL Rate (AIAN),...,% Drive Alone (Hispanic) 95% CI - Low,% Drive Alone (Hispanic) 95% CI - High,% Drive Alone (white),% Drive Alone (white) 95% CI - Low,% Drive Alone (white) 95% CI - High,# Workers who Drive Alone,% Long Commute - Drives Alone,95% CI - Low.19,95% CI - High.19,Quartile.34
0,1000,Alabama,NaN,NaN,88086.0,10350.0,10246.0,10454.0,NaN,5967.0,...,76.0,79.0,86.0,86.0,86.0,2095195,35,35.0,36.0,NaN
1,1001,Alabama,Autauga,NaN,836.0,8027.0,7198.0,8857.0,1.0,NaN,...,NaN,NaN,83.0,78.0,89.0,24949,41,36.0,45.0,3.0
2,1003,Alabama,Baldwin,NaN,3377.0,8118.0,7667.0,8570.0,1.0,NaN,...,56.0,80.0,82.0,80.0,83.0,97098,38,35.0,41.0,2.0
3,1005,Alabama,Barbour,NaN,539.0,12877.0,11150.0,14604.0,4.0,NaN,...,NaN,NaN,87.0,83.0,90.0,8555,37,31.0,42.0,2.0
4,1007,Alabama,Bibb,NaN,460.0,11191.0,9626.0,12757.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,8107,55,47.0,63.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,56037,Wyoming,Sweetwater,NaN,599.0,8419.0,7453.0,9386.0,3.0,NaN,...,57.0,72.0,77.0,74.0,79.0,21301,19,15.0,22.0,3.0
3189,56039,Wyoming,Teton,NaN,111.0,3283.0,2299.0,4267.0,1.0,NaN,...,53.0,72.0,65.0,62.0,69.0,14614,16,11.0,20.0,1.0
3190,56041,Wyoming,Uinta,NaN,287.0,9358.0,7756.0,10960.0,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,9649,18,14.0,21.0,2.0
3191,56043,Wyoming,Washakie,NaN,115.0,7074.0,4933.0,9215.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,3796,8,4.0,11.0,1.0
3192,56045,Wyoming,Weston,NaN,75.0,5149.0,3394.0,7492.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,2832,21,13.0,29.0,3.0

In [33]:
#subset of national_df
national_df = national_df[['County','State', '% Adults with Obesity', '# Some College', '% Children in Poverty', '20th Percentile Income']]

In [34]:
national_df

,County,State,% Adults with Obesity,# Some College,% Children in Poverty,20th Percentile Income
0,NaN,Alabama,36,761762,21.0,20580.0
1,Autauga,Alabama,35,8733,15.0,21396.0
2,Baldwin,Alabama,30,33289,12.0,27466.0
3,Barbour,Alabama,40,2566,38.0,13207.0
4,Bibb,Alabama,41,2392,22.0,16239.0
...,...,...,...,...,...,...
3188,Sweetwater,Wyoming,34,7490,8.0,30732.0
3189,Teton,Wyoming,22,6344,4.0,45825.0
3190,Uinta,Wyoming,30,3015,10.0,29879.0
3191,Washakie,Wyoming,29,1137,11.0,29177.0
3192,Weston,Wyoming,33,943,13.0,20754.0

In [35]:
# subset for all the states
state_level = national_df.loc[national_df['County'].isnull()]

In [98]:
# subset for all counties in the U.S
national_county = national_df.loc[~national_df['County'].isnull()]
national_counties = national_county[['County', 'State', '% Adults with Obesity', '# Some College', '% Children in Poverty', '20th Percentile Income']]

In [99]:
national_counties

,County,State,% Adults with Obesity,# Some College,% Children in Poverty,20th Percentile Income
1,Autauga,Alabama,35,8733,15.0,21396.0
2,Baldwin,Alabama,30,33289,12.0,27466.0
3,Barbour,Alabama,40,2566,38.0,13207.0
4,Bibb,Alabama,41,2392,22.0,16239.0
5,Blount,Alabama,39,7843,19.0,20993.0
...,...,...,...,...,...,...
3188,Sweetwater,Wyoming,34,7490,8.0,30732.0
3189,Teton,Wyoming,22,6344,4.0,45825.0
3190,Uinta,Wyoming,30,3015,10.0,29879.0
3191,Washakie,Wyoming,29,1137,11.0,29177.0
3192,Weston,Wyoming,33,943,13.0,20754.0

In [38]:
all_states = usa_dataset[['FIPS', 'State', 'County', 'Population','# rural residents', '% rural', 'Median Household Income',
             '% Insufficient Sleep', '% Enrolled in Free or Reduced Lunch', '% Less Than 18 Years of Age']]

In [39]:
states = all_states.loc[all_states['County'].isnull()]

In [40]:
all_counties = all_states.loc[~all_states['County'].isnull()]

In [41]:
#merged states and state_level, then renamed the columns the same as other df
national_stats = pd.merge(states, state_level, left_on = 'State', right_on = 'State', how = 'inner')
national_stats = national_stats.drop(columns = {'County_x', 'County_y'})
national_stats = national_stats.rename(columns = {'# rural residents': 'rural_pop', '% rural':'rural_perc', '% Insufficient Sleep': 'insufficient_sleep_perc','% Enrolled in Free or Reduced Lunch':'free_lunch_perc', '% Less Than 18 Years of Age':'under_18_perc',
                        '% Adults with Obesity':'adult_obesity_perc', '# Some College': 'some_college', '% Children in Poverty':'child_poverty_perc'})

In [42]:
# data frame for all states to compare to Tennessee. What are the similarities/differences?
national_stats

,FIPS,State,Population,rural_pop,rural_perc,Median Household Income,insufficient_sleep_perc,free_lunch_perc,under_18_perc,adult_obesity_perc,some_college,child_poverty_perc,20th Percentile Income
0,1000,Alabama,4921532,1957932.0,41.0,53958.0,40,55.0,22.1,36,761762,21.0,20580.0
1,2000,Alaska,731158,241338.0,34.0,79961.0,33,43.0,24.4,31,138592,12.0,35464.0
2,4000,Arizona,7421401,651358.0,10.2,64652.0,35,51.0,22.2,32,1209223,18.0,26747.0
3,5000,Arkansas,3030522,1278329.0,43.8,51146.0,37,66.0,23.1,38,451914,21.0,20888.0
4,6000,California,39368078,1880350.0,5.0,83001.0,35,59.0,22.3,26,7515252,15.0,31310.0
5,8000,Colorado,5807719,696435.0,13.8,77688.0,30,41.0,21.5,24,1210209,11.0,32985.0
6,9000,Connecticut,3557006,429155.0,12.0,79723.0,34,43.0,20.2,29,610040,12.0,31957.0
7,10000,Delaware,986809,149985.0,16.7,71335.0,37,NaN,20.7,34,149688,15.0,30222.0
8,11000,District of Columbia,712816,0.0,0.0,91957.0,36,NaN,18.2,28,221287,22.0,29139.0
9,12000,Florida,21733312,1661466.0,8.8,61724.0,37,54.0,19.6,26,3390310,17.0,25277.0
10,13000,Georgia,10710017,2415502.0,24.9,62800.0,38,60.0,23.3,33,1830420,20.0,25243.0
11,15000,Hawaii,1407006,109812.0,8.1,86878.0,43,46.0,21.0,26,264204,10.0,36188.0
12,16000,Idaho,1826913,461212.0,29.4,62603.0,33,37.0,24.7,30,297195,12.0,26818.0
13,17000,Illinois,12587530,1477079.0,11.5,71243.0,34,49.0,22.1,32,2401521,14.0,27311.0
14,18000,Indiana,6754953,1786702.0,27.6,60794.0,38,48.0,23.2,35,1071954,15.0,25507.0
15,19000,Iowa,3163561,1096099.0,36.0,62362.0,33,42.0,22.9,34,549438,12.0,27269.0
16,20000,Kansas,2913805,736157.0,25.8,63214.0,34,47.0,23.9,36,522025,13.0,27006.0
17,21000,Kentucky,4477251,1806024.0,41.6,54074.0,42,56.0,22.4,36,712068,19.0,21076.0
18,22000,Louisiana,4645318,1215567.0,26.8,51730.0,38,57.0,23.3,36,724367,24.0,19952.0
19,23000,Maine,1350141,814819.0,61.3,59145.0,35,42.0,18.4,31,216926,13.0,25148.0
20,24000,Maryland,6055802,739221.0,12.8,88589.0,38,42.0,22.0,32,1133314,11.0,36706.0
21,25000,Massachusetts,6893574,525640.0,8.0,87288.0,34,NaN,19.5,25,1356576,11.0,31498.0
22,26000,Michigan,9966555,2513683.0,25.4,61352.0,40,50.0,21.3,36,1685373,17.0,25290.0
23,27000,Minnesota,5657342,1417614.0,26.7,75489.0,29,36.0,23.0,30,1110469,10.0,32201.0
24,28000,Mississippi,2966786,1503073.0,50.7,47368.0,38,75.0,23.4,41,460374,26.0,17857.0
25,29000,Missouri,6151548,1770556.0,29.6,58812.0,35,50.0,22.3,35,1053119,16.0,24871.0
26,30000,Montana,1080577,436401.0,44.1,57730.0,31,40.0,21.3,28,183720,15.0,24782.0
27,31000,Nebraska,1937552,490655.0,26.9,64735.0,32,46.0,24.5,34,358524,10.0,28203.0
28,32000,Nevada,3138259,156754.0,5.8,64608.0,37,65.0,22.2,31,499832,17.0,27258.0
29,33000,New Hampshire,1366275,522598.0,39.7,81415.0,35,25.0,18.5,32,230204,8.0,33940.0
30,34000,New Jersey,8882371,467768.0,5.3,87095.0,38,38.0,21.8,26,1618078,13.0,33222.0
31,35000,New Mexico,2106319,464818.0,22.6,52285.0,33,72.0,22.4,32,333683,22.0,20324.0
32,36000,New York,19336776,2349997.0,12.1,73354.0,39,56.0,20.6,27,3689650,17.0,26117.0
33,37000,North Carolina,10600823,3233727.0,33.9,59616.0,36,58.0,21.8,34,1839005,18.0,24194.0
34,38000,North Dakota,765309,269719.0,40.1,64289.0,33,32.0,23.7,36,151385,11.0,27542.0
35,39000,Ohio,11693217,2546810.0,22.1,60360.0,41,36.0,22.0,35,1933050,17.0,24457.0
36,40000,Oklahoma,3980783,1266322.0,33.8,54512.0,38,59.0,24.0,37,620107,19.0,23334.0
37,41000,Oregon,4241507,726692.0,19.0,67832.0,33,48.0,20.3,29,810020,12.0,28050.0
38,42000,Pennsylvania,12783254,2711092.0,21.3,64898.0,39,51.0,20.5,33,2131526,14.0,26339.0
39,44000,Rhode Island,1057125,97524.0,9.3,73919.0,37,48.0,19.1,30,184051,15.0,26856.0
40,45000,South Carolina,5218040,1557555.0,33.7,57216.0,39,63.0,21.4,36,822590,19.0,22788.0
41,46000,South Dakota,892717,352933.0,43.3,61149.0,30,36.0,24.5,33,150400,14.0,27023.0
42,47000,Tennessee,6886834,2132860.0,33.6,56962.0,41,41.0,22.0,37,1108517,18.0,23293.0
43,48000,Texas,29360759,3847522.0,15.3,66048.0,34,60.0,25.3,34,5106680,19.0,26733.0
44,49000,Utah,3249879,260290.0,9.4,77785.0,31,33.0,28.6,30,641647,8.0,35445.0
45,50000,Vermont,623347,382356.0,61.1,67717.0,30,35.0,18.2,27,102234,10.0,27033.0
46,51000,Virginia,8590563,1963930.0,24.5,79154.0,39,45.0,21.7,32,1645171,12.0,32030.0
47,53000,Washington,7693612,1072671.0,16.0,80319.0,32,44.0,21.7,28,1540834,11.0,33777.0
48,54000,West Virginia,1784787,950184.0,51.3,49202.0,43,52.0,20.0,40,243900,20.0,19559.0
49,55000,Wisconsin,5832655,1697348.0,29.8,64901.0,33,40.0,21.6,34,1008989,12.0,27772.0
50,56000,Wyoming,582328,198633.0,35.2,67284.0,34,35.0,22.9,30,102179,10.0,27989.0

In [43]:
tn_trends

,County,lapop10,la_numbers,FIPS,State,Population,rural_pop,rural_perc,Median Household Income,insufficient_sleep_perc,free_lunch_perc,under_18_perc,adult_obesity_perc,some_college,child_poverty_perc,20th Percentile Income,under_18_pop,adult_population,pop_some_college
0,Anderson,111.0,8188.0,47001,Tennessee,77558,26041,34.7,53002,42,41.0,21.1,35,11172,18,23052,16365.0,61193.0,18.26
1,Bedford,829.0,10365.0,47003,Tennessee,50179,25053,55.6,58593,43,NaN,25.2,40,5901,20,27812,12645.0,37534.0,15.72
2,Benton,1162.0,2075.0,47005,Tennessee,16131,12937,78.5,44759,42,62.0,19.5,37,1630,25,15360,3146.0,12985.0,12.55
3,Bledsoe,602.0,602.0,47007,Tennessee,15223,12876,100.0,45780,42,NaN,14.2,38,1360,26,17194,2162.0,13061.0,10.41
4,Blount,66.0,37061.0,47009,Tennessee,134751,40140,32.6,67576,40,40.0,19.7,37,17697,13,27203,26546.0,108205.0,16.36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,Wayne,4152.0,4152.0,47181,Tennessee,16524,17021,100.0,42754,43,56.0,16.2,40,2035,24,18602,2677.0,13847.0,14.70
91,Weakley,1018.0,6796.0,47183,Tennessee,33334,23466,67.0,46979,43,57.0,19.1,40,3803,21,18276,6367.0,26967.0,14.10
92,White,846.0,7523.0,47185,Tennessee,27707,20201,78.2,46475,41,48.0,21.5,39,3203,19,20160,5957.0,21750.0,14.73
93,Williamson,0.0,80424.0,47187,Tennessee,245348,35512,19.4,118257,35,11.0,26.5,29,47554,4,51449,65017.0,180331.0,26.37
94,Wilson,24.0,40249.0,47189,Tennessee,148130,43850,38.5,77822,40,29.0,23.2,32,26005,9,36157,34366.0,113764.0,22.86

In [44]:
#exporting for dashboards
#rural_trends.to_csv('../data/dashboard_csv/rural_food_trends.csv', index = False)
#urban_trends.to_csv('../data/dashboard_csv/urban_food_trends.csv', index = False)
#tn_trends.to_csv('../data/dashboard_csv/all_tn_county_trends.csv', index = False)

In [45]:
#EDA on food access data
state_county.loc[(state_county['Variable_Code'] == 'PCT_OBESE_ADULTS12') | (state_county['Variable_Code'] == 'PCT_OBESE_ADULTS17') | (state_county['Variable_Code'] == 'FFR11')]

         FIPS State    County       Variable_Code  Value
239552   1001    AL   Autauga               FFR11   34.0
239568   1003    AL   Baldwin               FFR11  121.0
239584   1005    AL   Barbour               FFR11   19.0
239600   1007    AL      Bibb               FFR11    6.0
239616   1009    AL    Blount               FFR11   20.0
...       ...   ...       ...                 ...    ...
775232  56041    WY     Uinta  PCT_OBESE_ADULTS17   28.8
775241  56043    WY  Washakie  PCT_OBESE_ADULTS12   24.6
775242  56043    WY  Washakie  PCT_OBESE_ADULTS17   28.8
775251  56045    WY    Weston  PCT_OBESE_ADULTS12   24.6
775252  56045    WY    Weston  PCT_OBESE_ADULTS17   28.8

[9429 rows x 5 columns]

In [46]:
#fast food restaurants for 2016, fast-food/1000 population 2016, fast food expenditures per capita 2012
fast_food_county = state_county.loc[(state_county['Variable_Code'] == 'FFR16') | 
                                    (state_county['Variable_Code'] == 'FFRPTH16') |
                                    (state_county['Variable_Code'] == 'PC_FFRSALES12')].reset_index(drop = True)

In [47]:
#subset by each variable code
state_ff_count = fast_food_county.loc[fast_food_county['Variable_Code'] == 'FFR16'].drop_duplicates('State').reset_index(drop=True)
state_ff_count = state_ff_count[['FIPS','State','Variable_Code','Value']].rename(columns = {'Variable_Code':'ff_expenditures'})

In [48]:

state_ff_by_pop = fast_food_county.loc[fast_food_county['Variable_Code'] == 'FFRPTH16'].drop_duplicates('State').reset_index(drop=True)
state_ff_by_pop = state_ff_by_pop[['FIPS','State','Variable_Code','Value']].rename(columns = {'Variable_Code':'ff_expenditures'})

In [49]:
state_ff_expend = fast_food_county.loc[fast_food_county['Variable_Code'] == 'PC_FFRSALES12'].drop_duplicates('State').reset_index(drop=True)
state_ff_expend = state_ff_expend[['FIPS','State','Variable_Code','Value']].rename(columns = {'Variable_Code':'ff_expenditures'})

In [50]:
#merged the three subsets together to have only 95 rows
state_food = pd.merge(state_ff_count, state_ff_by_pop, on = 'State', how = 'inner')

In [51]:
state_ff = pd.merge(state_food, state_ff_expend, on = 'State', how = 'inner')
state_ff = state_ff.drop(columns = {'FIPS_y', 'FIPS'}).rename(columns = {'FIPS_x':'FIPS','ff_expenditures_x':'ff_16', 'Value_x':'ff_count',
                                                             'ff_expenditures_y':'ff_1k', 'Value_y':'ff_percent','Value':'ff_dollars'})

In [52]:
state_ff.head()

,FIPS,State,ff_16,ff_count,ff_1k,ff_percent,ff_expenditures,ff_dollars
0,1001,AL,FFR16,44.0,FFRPTH16,0.795977,PC_FFRSALES12,674.802720
1,2013,AK,FFR16,1.0,FFRPTH16,0.300842,PC_FFRSALES12,511.480788
2,4001,AZ,FFR16,12.0,FFRPTH16,0.168131,PC_FFRSALES12,577.718809
3,5001,AR,FFR16,9.0,FFRPTH16,0.494098,PC_FFRSALES12,622.675288
4,6001,CA,FFR16,1293.0,FFRPTH16,0.782102,PC_FFRSALES12,642.487458

In [53]:
#pulled tn out of fast_food df
tn_ff = fast_food_county.loc[fast_food_county['State'] == 'TN'].reset_index(drop=True)

In [54]:
tn_ff.head()

    FIPS State    County  Variable_Code       Value
0  47001    TN  Anderson          FFR16   63.000000
1  47001    TN  Anderson       FFRPTH16    0.833499
2  47001    TN  Anderson  PC_FFRSALES12  665.318391
3  47003    TN   Bedford          FFR16   24.000000
4  47003    TN   Bedford       FFRPTH16    0.506116

In [55]:
# tried a loop on the variable code, but had too many NaN values


# for index, row in tn_ff.iterrows():
#     if row.Variable_Code == "FFR16":
#         tn_ff.loc[index, 'fast_food16'] = tn_ff.loc[index, 'Value']
#     elif row.Variable_Code == "FFRPTH16":
#         tn_ff.loc[index, 'ff_1k'] = tn_ff.loc[index, 'Value']
#     elif row.Variable_Code == "PC_FFRSALES12":
#         tn_ff.loc[index, "ff_expenditures"] = tn_ff.loc[index, 'Value']
#     else:
#         tn_ff.loc[index, "fast_food16"] = -1

In [56]:
#subset data for each individual variable code
tn_ff_count = tn_ff.loc[tn_ff['Variable_Code'] == 'FFR16'].reset_index(drop=True)
tn_ff_count = tn_ff_count[['FIPS','State','County','Variable_Code','Value']].rename(columns = {'Variable_Code':'ff_count'})
#tn_ff_count

In [57]:
tn_ff_perc = tn_ff.loc[tn_ff['Variable_Code'] == 'FFRPTH16'].reset_index(drop=True)
tn_ff_perc = tn_ff_perc[['FIPS','State','County','Variable_Code','Value']].rename(columns = {'Variable_Code':'ff_1k', 'Value': 'ff_percent'})
#tn_ff_perc

In [58]:
# tn_ff_expend = tn_ff.loc[tn_ff['Variable_Code'] == 'PC_FFRSALES12'].reset_index(drop=True)
# tn_ff_expend = tn_ff_expend[['FIPS','State','County','Variable_Code','Value']].rename(columns = {'Variable_Code':'ff_expenditures', 'Value': 'ff_dollars'})
# #tn_ff_expend

In [59]:
#merged the three subsets together
tn_county_ff = pd.merge(tn_ff_count, tn_ff_perc, on = 'County', how = 'inner')

In [60]:
# tn_county_ff = pd.merge(tn_county_ff, tn_ff_expend, on = 'County', how = 'inner')

In [61]:
tn_county_ff

,FIPS_x,State_x,County,ff_count,Value,FIPS_y,State_y,ff_1k,ff_percent
0,47001,TN,Anderson,FFR16,63.0,47001,TN,FFRPTH16,0.833499
1,47003,TN,Bedford,FFR16,24.0,47003,TN,FFRPTH16,0.506116
2,47005,TN,Benton,FFR16,7.0,47005,TN,FFRPTH16,0.435893
3,47007,TN,Bledsoe,FFR16,0.0,47007,TN,FFRPTH16,0.000000
4,47009,TN,Blount,FFR16,64.0,47009,TN,FFRPTH16,0.499049
...,...,...,...,...,...,...,...,...,...
90,47181,TN,Wayne,FFR16,5.0,47181,TN,FFRPTH16,0.300030
91,47183,TN,Weakley,FFR16,22.0,47183,TN,FFRPTH16,0.655386
92,47185,TN,White,FFR16,16.0,47185,TN,FFRPTH16,0.604892
93,47187,TN,Williamson,FFR16,181.0,47187,TN,FFRPTH16,0.826907
94,47189,TN,Wilson,FFR16,91.0,47189,TN,FFRPTH16,0.687140

In [62]:
tn_county_ff = tn_county_ff.drop(columns = {'FIPS_y','State_y'})

In [63]:
tn_county_ff

    FIPS_x State_x      County ff_count  Value     ff_1k  ff_percent
0    47001      TN    Anderson    FFR16   63.0  FFRPTH16    0.833499
1    47003      TN     Bedford    FFR16   24.0  FFRPTH16    0.506116
2    47005      TN      Benton    FFR16    7.0  FFRPTH16    0.435893
3    47007      TN     Bledsoe    FFR16    0.0  FFRPTH16    0.000000
4    47009      TN      Blount    FFR16   64.0  FFRPTH16    0.499049
..     ...     ...         ...      ...    ...       ...         ...
90   47181      TN       Wayne    FFR16    5.0  FFRPTH16    0.300030
91   47183      TN     Weakley    FFR16   22.0  FFRPTH16    0.655386
92   47185      TN       White    FFR16   16.0  FFRPTH16    0.604892
93   47187      TN  Williamson    FFR16  181.0  FFRPTH16    0.826907
94   47189      TN      Wilson    FFR16   91.0  FFRPTH16    0.687140

[95 rows x 7 columns]

In [64]:
# export to csv
# tn_county_ff.to_csv('../data/tn_ff.csv', index = False)

In [65]:
tn_stats = state_county.loc[state_county['State'] == 'TN']

In [66]:
tn_grocery = tn_stats.loc[(tn_stats['Variable_Code'] == 'GROC16') | (tn_stats['Variable_Code'] == 'SUPERC16')|
                         (tn_stats['Variable_Code'] == 'SPECS16')].reset_index(drop=True)
#tn_grocery.to_csv('../data/tn_grocery.csv', index = False)

In [67]:
tn_grocery

      FIPS State      County Variable_Code  Value
0    47001    TN    Anderson        GROC16   12.0
1    47001    TN    Anderson      SUPERC16    2.0
2    47001    TN    Anderson       SPECS16    6.0
3    47003    TN     Bedford        GROC16    7.0
4    47003    TN     Bedford      SUPERC16    1.0
..     ...   ...         ...           ...    ...
280  47187    TN  Williamson      SUPERC16    4.0
281  47187    TN  Williamson       SPECS16   16.0
282  47189    TN      Wilson        GROC16   18.0
283  47189    TN      Wilson      SUPERC16    2.0
284  47189    TN      Wilson       SPECS16    6.0

[285 rows x 5 columns]

In [68]:
tn_groc_count = tn_grocery.groupby(['County'])['Value'].sum().to_frame().reset_index()
tn_groc_count

        County  Value
0     Anderson   20.0
1      Bedford   10.0
2       Benton    8.0
3      Bledsoe    1.0
4       Blount   27.0
..         ...    ...
90       Wayne    5.0
91     Weakley    8.0
92       White    7.0
93  Williamson   48.0
94      Wilson   26.0

[95 rows x 2 columns]

In [69]:
tn_county_resources = pd.merge(tn_county_ff, tn_groc_count, on = 'County', how = 'inner').rename(columns = {'FIPS_x':'FIPS', 'State_x':'state','Value_x':'ff_count','Value_y':'groc_store_count'})

In [70]:
tn_county_resources.head(1)

,FIPS,state,County,ff_count,ff_count,ff_1k,ff_percent,groc_store_count
0,47001,TN,Anderson,FFR16,63.0,FFRPTH16,0.833499,20.0

In [71]:
tn_farms = tn_stats.loc[(tn_stats['Variable_Code'] == 'FMRKT13') | (tn_stats['Variable_Code'] == 'FRESHVEG_FARMS12') | 
              (tn_stats['Variable_Code'] == 'BERRY_FARMS12') | (tn_stats['Variable_Code'] == 'ORCHARD_FARMS12')].reset_index(drop = True)

In [72]:
tn_farm_count = tn_farms.groupby(['County'])['Value'].sum().to_frame().reset_index()
tn_farm_count.head(1)

     County  Value
0  Anderson   23.0

In [73]:
tn_county_resources = pd.merge(tn_county_resources, tn_farm_count, on = 'County', how = 'inner').rename(columns = {'Value':'farm_count'})

In [74]:
# tn_county_resources.to_csv('../data/tn_farms.csv', index = False)

In [75]:
state_county.loc[state_county['County'] == 'Trousdale']

         FIPS State     County       Variable_Code      Value
102653  47169    TN  Trousdale       LACCESS_POP10   0.000000
102654  47169    TN  Trousdale   PCT_LACCESS_POP10   0.000000
102655  47169    TN  Trousdale      LACCESS_LOWI10   0.000000
102656  47169    TN  Trousdale  PCT_LACCESS_LOWI10   0.000000
102657  47169    TN  Trousdale      LACCESS_HHNV10  82.950949
...       ...   ...        ...                 ...        ...
812938  47169    TN  Trousdale            PERPOV10   0.000000
812939  47169    TN  Trousdale      CHILDPOVRATE15  24.700000
812940  47169    TN  Trousdale        PERCHLDPOV10   0.000000
812941  47169    TN  Trousdale             METRO13   1.000000
812942  47169    TN  Trousdale           POPLOSS10   0.000000

[222 rows x 5 columns]

In [76]:
la_no_vehicle = state_county.loc[(state_county['State'] == 'TN') & (state_county['Variable_Code'] == 'LACCESS_HHNV15')]

In [77]:
la_2015= state_county.loc[(state_county['State'] == 'TN') & (state_county['Variable_Code'] == 'LACCESS_POP15')]

In [78]:
tn_trends = pd.merge(tn_trends, la_no_vehicle, on= 'County', how ='inner')

In [79]:
tn_trends = pd.merge(tn_trends, la_2015, on = 'County', how = 'left')

In [80]:
tn_trends = tn_trends.drop(columns = {'FIPS_y', 'State_y', 'FIPS_x', 'State_x','Variable_Code_x', 'Variable_Code_y' }).rename(columns = {'lapop10':'lapop_10mile','la_numbers':'la_2010',
                                                                                     'Value_x':'la_no_car_count','Value_y':'la_2015_count'})

In [81]:
tn_trends['FIPS'] = tn_trends['FIPS'].astype(str).str[:-2]

In [82]:
tn_trends

,County,lapop_10mile,la_2010,Population,rural_pop,rural_perc,Median Household Income,insufficient_sleep_perc,free_lunch_perc,under_18_perc,...,some_college,child_poverty_perc,20th Percentile Income,under_18_pop,adult_population,pop_some_college,la_no_car_count,FIPS,State,la_2015_count
0,Anderson,111.0,8188.0,77558,26041,34.7,53002,42,41.0,21.1,...,11172,18,23052,16365.0,61193.0,18.26,1097.690144,47001,TN,22423.205230
1,Bedford,829.0,10365.0,50179,25053,55.6,58593,43,NaN,25.2,...,5901,20,27812,12645.0,37534.0,15.72,511.860366,47003,TN,6177.858239
2,Benton,1162.0,2075.0,16131,12937,78.5,44759,42,62.0,19.5,...,1630,25,15360,3146.0,12985.0,12.55,295.244042,47005,TN,2221.329844
3,Bledsoe,602.0,602.0,15223,12876,100.0,45780,42,NaN,14.2,...,1360,26,17194,2162.0,13061.0,10.41,256.148870,47007,TN,395.611943
4,Blount,66.0,37061.0,134751,40140,32.6,67576,40,40.0,19.7,...,17697,13,27203,26546.0,108205.0,16.36,1532.116921,47009,TN,42345.438420
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,Wayne,4152.0,4152.0,16524,17021,100.0,42754,43,56.0,16.2,...,2035,24,18602,2677.0,13847.0,14.70,140.892648,47181,TN,3784.261368
91,Weakley,1018.0,6796.0,33334,23466,67.0,46979,43,57.0,19.1,...,3803,21,18276,6367.0,26967.0,14.10,522.701727,47183,TN,4131.026249
92,White,846.0,7523.0,27707,20201,78.2,46475,41,48.0,21.5,...,3203,19,20160,5957.0,21750.0,14.73,578.683382,47185,TN,2475.136877
93,Williamson,0.0,80424.0,245348,35512,19.4,118257,35,11.0,26.5,...,47554,4,51449,65017.0,180331.0,26.37,561.089802,47187,TN,45309.223310
94,Wilson,24.0,40249.0,148130,43850,38.5,77822,40,29.0,23.2,...,26005,9,36157,34366.0,113764.0,22.86,510.352674,47189,TN,25367.261040

In [83]:
food_df.head()

,CensusTract,State,County,Urban,Pop2010,OHU2010,GroupQuartersFlag,NUMGQTRS,PCTGQTRS,LILATracts_1And10,...,TractSeniors,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP
0,1001020100,Alabama,Autauga County,1,1912,693,0,0.0,0.00,0,...,221.0,1622.0,217.0,14.0,0.0,14.0,45.0,44.0,6.0,102.0
1,1001020200,Alabama,Autauga County,1,2170,743,0,181.0,8.34,1,...,214.0,888.0,1217.0,5.0,0.0,5.0,55.0,75.0,89.0,156.0
2,1001020300,Alabama,Autauga County,1,3373,1256,0,0.0,0.00,0,...,439.0,2576.0,647.0,17.0,5.0,11.0,117.0,87.0,99.0,172.0
3,1001020400,Alabama,Autauga County,1,4386,1722,0,0.0,0.00,0,...,904.0,4086.0,193.0,18.0,4.0,11.0,74.0,85.0,21.0,98.0
4,1001020500,Alabama,Autauga County,1,10766,4082,0,181.0,1.68,0,...,1126.0,8666.0,1437.0,296.0,9.0,48.0,310.0,355.0,230.0,339.0

In [84]:
state_lapop_10miles = food_df.groupby('State')['lapop10'].sum().to_frame().reset_index()
state_lapop_10miles

                   State   lapop10
0                Alabama  122530.0
1                 Alaska   64834.0
2                Arizona  247526.0
3               Arkansas  171053.0
4             California  198184.0
5               Colorado  110662.0
6            Connecticut     130.0
7               Delaware       0.0
8   District of Columbia       0.0
9                Florida  127788.0
10               Georgia  105355.0
11                Hawaii   11378.0
12                 Idaho   74003.0
13              Illinois  168918.0
14               Indiana   71400.0
15                  Iowa  157606.0
16                Kansas  157628.0
17              Kentucky   93183.0
18             Louisiana  146763.0
19                 Maine   29869.0
20              Maryland    5979.0
21         Massachusetts    8229.0
22              Michigan   80070.0
23             Minnesota  207745.0
24           Mississippi  193028.0
25              Missouri  178347.0
26               Montana  111252.0
27              Nebraska  126039.0
28                Nevada   42291.0
29         New Hampshire   10847.0
30            New Jersey    9094.0
31            New Mexico  171987.0
32              New York   70869.0
33        North Carolina   76623.0
34          North Dakota  115849.0
35                  Ohio   66685.0
36              Oklahoma  193999.0
37                Oregon   77411.0
38          Pennsylvania   57318.0
39          Rhode Island    1051.0
40        South Carolina   76492.0
41          South Dakota  109940.0
42             Tennessee   83840.0
43                 Texas  484675.0
44                  Utah   47746.0
45               Vermont   12940.0
46              Virginia  120484.0
47            Washington   89451.0
48         West Virginia   70103.0
49             Wisconsin  134388.0
50               Wyoming   51115.0

In [85]:
national_stats = pd.merge(national_stats, state_lapop_10miles, on = 'State', how = 'inner')

In [89]:
national_stats

,FIPS,State,Population,rural_pop,rural_perc,Median Household Income,insufficient_sleep_perc,free_lunch_perc,under_18_perc,adult_obesity_perc,some_college,child_poverty_perc,20th Percentile Income,lapop10
0,1000,Alabama,4921532,1957932.0,41.0,53958.0,40,55.0,22.1,36,761762,21.0,20580.0,122530.0
1,2000,Alaska,731158,241338.0,34.0,79961.0,33,43.0,24.4,31,138592,12.0,35464.0,64834.0
2,4000,Arizona,7421401,651358.0,10.2,64652.0,35,51.0,22.2,32,1209223,18.0,26747.0,247526.0
3,5000,Arkansas,3030522,1278329.0,43.8,51146.0,37,66.0,23.1,38,451914,21.0,20888.0,171053.0
4,6000,California,39368078,1880350.0,5.0,83001.0,35,59.0,22.3,26,7515252,15.0,31310.0,198184.0
5,8000,Colorado,5807719,696435.0,13.8,77688.0,30,41.0,21.5,24,1210209,11.0,32985.0,110662.0
6,9000,Connecticut,3557006,429155.0,12.0,79723.0,34,43.0,20.2,29,610040,12.0,31957.0,130.0
7,10000,Delaware,986809,149985.0,16.7,71335.0,37,NaN,20.7,34,149688,15.0,30222.0,0.0
8,11000,District of Columbia,712816,0.0,0.0,91957.0,36,NaN,18.2,28,221287,22.0,29139.0,0.0
9,12000,Florida,21733312,1661466.0,8.8,61724.0,37,54.0,19.6,26,3390310,17.0,25277.0,127788.0
10,13000,Georgia,10710017,2415502.0,24.9,62800.0,38,60.0,23.3,33,1830420,20.0,25243.0,105355.0
11,15000,Hawaii,1407006,109812.0,8.1,86878.0,43,46.0,21.0,26,264204,10.0,36188.0,11378.0
12,16000,Idaho,1826913,461212.0,29.4,62603.0,33,37.0,24.7,30,297195,12.0,26818.0,74003.0
13,17000,Illinois,12587530,1477079.0,11.5,71243.0,34,49.0,22.1,32,2401521,14.0,27311.0,168918.0
14,18000,Indiana,6754953,1786702.0,27.6,60794.0,38,48.0,23.2,35,1071954,15.0,25507.0,71400.0
15,19000,Iowa,3163561,1096099.0,36.0,62362.0,33,42.0,22.9,34,549438,12.0,27269.0,157606.0
16,20000,Kansas,2913805,736157.0,25.8,63214.0,34,47.0,23.9,36,522025,13.0,27006.0,157628.0
17,21000,Kentucky,4477251,1806024.0,41.6,54074.0,42,56.0,22.4,36,712068,19.0,21076.0,93183.0
18,22000,Louisiana,4645318,1215567.0,26.8,51730.0,38,57.0,23.3,36,724367,24.0,19952.0,146763.0
19,23000,Maine,1350141,814819.0,61.3,59145.0,35,42.0,18.4,31,216926,13.0,25148.0,29869.0
20,24000,Maryland,6055802,739221.0,12.8,88589.0,38,42.0,22.0,32,1133314,11.0,36706.0,5979.0
21,25000,Massachusetts,6893574,525640.0,8.0,87288.0,34,NaN,19.5,25,1356576,11.0,31498.0,8229.0
22,26000,Michigan,9966555,2513683.0,25.4,61352.0,40,50.0,21.3,36,1685373,17.0,25290.0,80070.0
23,27000,Minnesota,5657342,1417614.0,26.7,75489.0,29,36.0,23.0,30,1110469,10.0,32201.0,207745.0
24,28000,Mississippi,2966786,1503073.0,50.7,47368.0,38,75.0,23.4,41,460374,26.0,17857.0,193028.0
25,29000,Missouri,6151548,1770556.0,29.6,58812.0,35,50.0,22.3,35,1053119,16.0,24871.0,178347.0
26,30000,Montana,1080577,436401.0,44.1,57730.0,31,40.0,21.3,28,183720,15.0,24782.0,111252.0
27,31000,Nebraska,1937552,490655.0,26.9,64735.0,32,46.0,24.5,34,358524,10.0,28203.0,126039.0
28,32000,Nevada,3138259,156754.0,5.8,64608.0,37,65.0,22.2,31,499832,17.0,27258.0,42291.0
29,33000,New Hampshire,1366275,522598.0,39.7,81415.0,35,25.0,18.5,32,230204,8.0,33940.0,10847.0
30,34000,New Jersey,8882371,467768.0,5.3,87095.0,38,38.0,21.8,26,1618078,13.0,33222.0,9094.0
31,35000,New Mexico,2106319,464818.0,22.6,52285.0,33,72.0,22.4,32,333683,22.0,20324.0,171987.0
32,36000,New York,19336776,2349997.0,12.1,73354.0,39,56.0,20.6,27,3689650,17.0,26117.0,70869.0
33,37000,North Carolina,10600823,3233727.0,33.9,59616.0,36,58.0,21.8,34,1839005,18.0,24194.0,76623.0
34,38000,North Dakota,765309,269719.0,40.1,64289.0,33,32.0,23.7,36,151385,11.0,27542.0,115849.0
35,39000,Ohio,11693217,2546810.0,22.1,60360.0,41,36.0,22.0,35,1933050,17.0,24457.0,66685.0
36,40000,Oklahoma,3980783,1266322.0,33.8,54512.0,38,59.0,24.0,37,620107,19.0,23334.0,193999.0
37,41000,Oregon,4241507,726692.0,19.0,67832.0,33,48.0,20.3,29,810020,12.0,28050.0,77411.0
38,42000,Pennsylvania,12783254,2711092.0,21.3,64898.0,39,51.0,20.5,33,2131526,14.0,26339.0,57318.0
39,44000,Rhode Island,1057125,97524.0,9.3,73919.0,37,48.0,19.1,30,184051,15.0,26856.0,1051.0
40,45000,South Carolina,5218040,1557555.0,33.7,57216.0,39,63.0,21.4,36,822590,19.0,22788.0,76492.0
41,46000,South Dakota,892717,352933.0,43.3,61149.0,30,36.0,24.5,33,150400,14.0,27023.0,109940.0
42,47000,Tennessee,6886834,2132860.0,33.6,56962.0,41,41.0,22.0,37,1108517,18.0,23293.0,83840.0
43,48000,Texas,29360759,3847522.0,15.3,66048.0,34,60.0,25.3,34,5106680,19.0,26733.0,484675.0
44,49000,Utah,3249879,260290.0,9.4,77785.0,31,33.0,28.6,30,641647,8.0,35445.0,47746.0
45,50000,Vermont,623347,382356.0,61.1,67717.0,30,35.0,18.2,27,102234,10.0,27033.0,12940.0
46,51000,Virginia,8590563,1963930.0,24.5,79154.0,39,45.0,21.7,32,1645171,12.0,32030.0,120484.0
47,53000,Washington,7693612,1072671.0,16.0,80319.0,32,44.0,21.7,28,1540834,11.0,33777.0,89451.0
48,54000,West Virginia,1784787,950184.0,51.3,49202.0,43,52.0,20.0,40,243900,20.0,19559.0,70103.0
49,55000,Wisconsin,5832655,1697348.0,29.8,64901.0,33,40.0,21.6,34,1008989,12.0,27772.0,134388.0
50,56000,Wyoming,582328,198633.0,35.2,67284.0,34,35.0,22.9,30,102179,10.0,27989.0,51115.0

In [91]:
rural_trends.head(1)

,County,lapop10,la_numbers,FIPS,State,Population,rural_pop,rural_perc,Median Household Income,insufficient_sleep_perc,free_lunch_perc,under_18_perc,adult_obesity_perc,some_college,child_poverty_perc,20th Percentile Income,under_18_pop,adult_population,pop_some_college
0,Bedford,829.0,10365.0,47003,Tennessee,50179,25053,55.6,58593,43,NaN,25.2,40,5901,20,27812,12645.0,37534.0,15.72

In [92]:
urban_trends.head(1)

,County,lapop10,la_numbers,FIPS,State,Population,rural_pop,rural_perc,Median Household Income,insufficient_sleep_perc,free_lunch_perc,under_18_perc,adult_obesity_perc,some_college,child_poverty_perc,20th Percentile Income,under_18_pop,adult_population,pop_some_college
0,Anderson,111.0,8188.0,47001,Tennessee,77558,26041,34.7,53002,42,41.0,21.1,35,11172,18,23052,16365.0,61193.0,18.26

In [93]:
tn_trends.head(1)

,County,lapop_10mile,la_2010,Population,rural_pop,rural_perc,Median Household Income,insufficient_sleep_perc,free_lunch_perc,under_18_perc,...,some_college,child_poverty_perc,20th Percentile Income,under_18_pop,adult_population,pop_some_college,la_no_car_count,FIPS,State,la_2015_count
0,Anderson,111.0,8188.0,77558,26041,34.7,53002,42,41.0,21.1,...,11172,18,23052,16365.0,61193.0,18.26,1097.690144,47001,TN,22423.20523

In [94]:
tn_county_ff.head(1)

   FIPS_x State_x    County ff_count  Value     ff_1k  ff_percent
0   47001      TN  Anderson    FFR16   63.0  FFRPTH16    0.833499

In [95]:
tn_county_resources.head(1)

,FIPS,state,County,ff_count,ff_count,ff_1k,ff_percent,groc_store_count,farm_count
0,47001,TN,Anderson,FFR16,63.0,FFRPTH16,0.833499,20.0,23.0

In [96]:
national_stats.head(1)

,FIPS,State,Population,rural_pop,rural_perc,Median Household Income,insufficient_sleep_perc,free_lunch_perc,under_18_perc,adult_obesity_perc,some_college,child_poverty_perc,20th Percentile Income,lapop10
0,1000,Alabama,4921532,1957932.0,41.0,53958.0,40,55.0,22.1,36,761762,21.0,20580.0,122530.0

In [97]:
#exporting for dashboards
rural_trends.to_csv('../data/dashboard_csv/rural_food_trends.csv', index = False)
urban_trends.to_csv('../data/dashboard_csv/urban_food_trends.csv', index = False)
tn_trends.to_csv('../data/dashboard_csv/all_tn_county_trends.csv', index = False)
#tn_county_ff.to_csv('../data/dashboard_csv/tn_ff.csv', index = False)
tn_county_resources.to_csv('../data/dashboard_csv/tn_resources.csv', index = False)
national_stats.to_csv('../data/dashboard_csv/national_stats.csv', index = False)
state_ff.to_csv('../data/dashboard_csv/state_ff.csv', index = False)

##### get all of state food access stuff into one dataframe
##### finish out tennessee tn_county food access dataframe 
##### bring over tn_counties script to have only one script or adjust tn_counties

###### What are the obesity rates for places with more accessibility to fast food?
            - compare farms and fast food per county
##### What are the trends for urban vs rural food deserts? (Food desert being defined as a supermarket not within 10 miles for rural areas)
            - Median Incomes
            - Poverty Rates
            - Percentage of Obesity in each county
            - Total number of people with low_access
            - Demographics?
            - Age Groups?
            - School lunches
            - amount of people without a vehicle
##### Does obesity vary by income?
            - look at median incomes and obesity
            - 20th percentile salary and obesity
##### How does obesity vary by region in the United States? 
            - use national_df to do a heat map of each state
               - the compare some low_access numbers, poverty/20th percentile numbers
            - state data frame consisting of fast food restaurants by state, fast food per 1000 pop, fast food sales per cap
                - grocery stores, supercenters, specialized foodstores
                - farmers markets, farms with vegetables harvested for fresh market, orchard farms, berry farms
                - bring in povert rate for all states plus individually for tennnessee
##### Stretch Question: Is there a relationship between walkable cities and obesity?

###### In this capstone project, I will be utilizing Python to do an analysis on different factors that could potentially impact obesity rates in Tennessee counties and other regions of the U.S. My goal is to create multiple visualizations, including an interactive map and dashboard to tell the story of the data. With this project, I hope to form an analysis by identifying rural and urban food desert trends by comparing specific regions to one another. I will also be looking at median household incomes to see if there is a correlation with other factors in the analysis. (Is there a higher median household income in cities with lower obesity rates?) Finally, I would like to analyze food access (fast-food restaurants/1,000 people, grocery stores, farmers’ market, etc.) for Tennessee counties. My stretch goal is to see if there is a significant impact on walkable cities on obesity.